<form class="form-group" [formGroup]= "form">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" formControlName="name">
  </div>
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" class="form-control" formControlName= "username">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" formControlName= "password"> 
  </div>
  <div>
    <button class="btn btn-primary" (click)="signup()">Sign up</button>
  </div>
</form>